.event-main{
    background-color: #dff5f1;
    height:100%;
    width:90%;
    z-index: 2;
    padding: 40px;
    position: relative;
    left:50px;
    top: 50px;
    margin: auto 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px #825331;;
  
}

.remove-button{
    background-color: #008080;
    color: #F5EBE3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remove-button:hover {
    color: #008080;
    background-color: #F5EBE3;
    cursor: pointer;
}


.formStyle {
    max-width: 400px;
    margin: auto;

   
};






input{
    border-radius: 5px;
    width: 200px;
    border : none;
    margin: 12px;
    height: 30px;
}

select{
    border-radius: 5px;
    width: 200px;
    border : none;
    margin: 12px;
    height: 30px;
}

.inputStyle{
    width: 90%;
    margin-left:5px;
    border: none;
}

.create-event-button{
    background-color: #008080;
    color: #F5EBE3;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Smooth transition for hover effects */
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    
    
}



.create-event-button:hover {
    background-color: #F5EBE3;
    color: #008080;

}



@media screen and (max-width: 600px) {
    /* Adjust styles for screens smaller than 600px */
  
    .event-main {
        max-width: 100%;
        position:relative;
        margin-left:-23px;
        
    }

    .create-event-button {
        left: 50%;
        transform: translateX(-50%);
    }
}

