* {
    box-sizing: border-box;
}

body {
    background-color: #C0E6DF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    z-index: 1;
}

header {
    display: flex;
    flex-direction: row;

    background-color: #dff5f1;

}

h1 {
    color: #AE784F;
}

h2 {
    color: #AE784F;
}

img.logo {
    width: auto;
    height: 3.7rem;
    margin: 10px;
    padding: 10px;
    transition-duration: 250ms;
}

img.logo:hover {
    transform: scale(1.1);
    transition-duration: 250ms;
    /* Example: Increase size on hover */
}

.hrStyle {
    border: 0.2rem solid #dff5f1;
    margin: 0;
}

/* Enhanced Form Styling */
.post-form {
    background-color: #dff5f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    /* Increase the max-width for a larger form */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    /* Add this to make it a block-level element */
    margin: 0 auto;
    /* Adjusted margin to center horizontally */


}

.post-form button:hover {
    background-color: #F5EBE3;
    color: #008080;
}

/* Input Field Styling */
.post-title {

    width: 100%;
    padding: 12px 15px;
    margin-left: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.post-content,
.post-category {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Category Field Styling */
.post-category {
    background-color: #008080;
    color: white;
    padding: 10px 15px;
    /* Padding for size */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 1em;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor */
    transition: background-color 0.3s ease;
    /* Transition for hover effect */
    height: 40px;
    margin-left: 2px;
}

.post-category:hover {
    background-color: white;
    color: #008080;
}

.post-category:focus {
    outline: none;
    /* Remove default focus outline */
    border-color: #AE784F;
    ;
    /* Border color on focus */
}

/* Submit Button Styling */
.post-form button {
    background-color: #008080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.post-form button:hover {
    background-color: #F5EBE3;
    color: #008080;
}


/* Add this style for the category container */
.category-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap into multiple rows */
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

/* Adjust the width of the category items to fit four in one row */
.category-item {
    position: relative;
    flex: 0 1 calc(25% - 20px);
    /* Adjust the flex property to limit to 4 items in a row */
    max-width: calc(25% - 20px);
    /* Adjust the max-width based on your design */
    margin: 10px;
    /* Adjust the margin for spacing between items */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    text-align: center;
}

/* Add this style for the category images */
.category-item img {

    border-radius: 8px;
    transition: transform 0.2s ease;
    /* Add smooth transition for a visual effect on hover */
    width: 150px;
    /* Set a fixed width */
    height: 150px;
    /* Set a fixed height */
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    border: 2px solid transparent;
    /* Add a transparent border initially */

}

/* Add this style for the hover effect */
.category-item:hover img {
    transform: scale(1.05);
    /* Scale up the image on hover for a visual effect */
}


/* Add this style for the border when clicked */
.category-item.clicked img {
    border: 8px solid #AE784F;
    /* Set the border color on click */
}

.category-item p {
    margin-top: 8px;
    /* Adjust the margin for spacing between image and text */
    font-size: 14px;
    /* Adjust the font size based on your design */
    color: #008080;
    /* Adjust the color based on your design */
    text-align: center;
}





/* Centering the Post List */
ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for Each Post Item */
li {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    color: #825331;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    transition: all 0.3s ease;
}

li:hover {
    box-shadow: 0 5px 15px #825331;
    border-color: #AE784F;
    cursor: pointer;
}

li h3 {
    color: #333;
    margin-bottom: 10px;
}

li p {
    color: #666;
    font-style: italic;
    line-height: 1.6;
}

li small {
    /*position: absolute;*/
    background-color: #AE784F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    align-items: right;
}


/* Filter Category Button Styling */
.filter-category-button {
    background-color: #008080;

    color: white;

    padding: 10px 15px;
    /* Padding for size */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 1em;
    /* Font size */
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Smooth transition for hover effects */
    height: 60px;
    margin: 10px;


}

.filter-category-button:hover {
    background-color: white;
    color: #008080;
    /* Darker blue on hover */
}

footer {
    position: relative;
    width: 100vw;
    text-align: center;
    color: #AE784F;
    /* top: 100vh; */
    bottom: 0;
    /* margin-bottom: 5px; */
}

/*event button styling*/
.event-button {

    background-color: #008080;
    color: #F5EBE3;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Smooth transition for hover effects */
    margin-right: 20px;
    position: relative;
    top: 30px;


}

.event-button:hover {
    background-color: #F5EBE3;
    color: #008080;
    margin-left: 48px;
}

.event-main {
    background-color: #F5EBE3;
    height: 100%;
    width: 90%;
    z-index: 2;
    padding: 40px;
    position: relative;
    left: 50px;
    top: 50px;
    margin: auto 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px #825331;
    ;

}


@media screen and (max-width: 600px) {

    /* Adjust styles for screens smaller than 600px */
    header {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    img.logo {
        width: auto;
        height: 3.5rem;
    }

    .event-main {
        width: 100%;
        padding: 20px;

    }

    .event-button {
        margin: 10px 0;
        top: 0;
    }

    .category-item img {

        border-radius: 8px;
        transition: transform 0.2s ease;
        /* Add smooth transition for a visual effect on hover */
        max-width: 50px;
        /* Set a fixed width */
        max-height: 50px;
        /* Set a fixed height */
        object-fit: cover;
        /* Maintain aspect ratio and cover the container */
        border: 2px solid transparent;
        /* Add a transparent border initially */


    }

    .category-item p {
        font-size: 0.5em;

    }

    .home-menu {
        flex-direction: column;
        transition-duration: 500ms;
        margin: .5em auto;
    }

    .home-menu img {
        width: 64px;
    }
}

.home-menu {
    display: flex;
    margin: 8em auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: cursive;
}

.home-menu img {
    width: 128px;
}
.home-menu a {
    margin: 1em;
    color: black;
    text-decoration: none;
    transition-duration: 500ms;
}

.home-menu a:hover {
    scale: 1.1;
    transition-duration: 500ms;
}