.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    display: table;
    border-collapse: collapse;
    width: 70%;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
}

table tr {
    display: table-row;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

td:nth-child(5) {
    margin: auto;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

td:nth-child(5) button {
    padding: 5px;
    margin: 0.15em;
    width: 2.5em;
    height: 2.5em;
    border-radius: .5em;
    text-align: center;
    vertical-align: middle;
}

td:nth-child(5) button:nth-child(1) {
    border: 2px solid rgb(231, 50, 50);
    background-color: #fbdddd;
    cursor: pointer;
    transition: .3s;
}

td:nth-child(5) button:nth-child(1):hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.1);
    box-shadow: 0 0 4px #111;
    transition: .3s;

}

td:nth-child(5) button:nth-child(1):hover:active {
    background-color: rgb(231, 50, 50);
    transform: scale(1.1);
    box-shadow: 0 0 4px #111;
    transition: .1s;

}

td:nth-child(5) button:nth-child(2) {
    border: 2px solid rgb(231, 189, 50);
    background-color: #fff0ac;
    cursor: pointer;
    transition: .3s;
}

td:nth-child(5) button:nth-child(2):hover {
    background-color: #fff0ac;
    transform: scale(1.1);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}

td:nth-child(5) button:nth-child(2):hover:active {
    background-color: rgb(231, 189, 50);
    transform: scale(1.1);
    box-shadow: 0 0 4px #111;
    transition: .1s;
}

@media screen and (max-width: 600px) {
    table {
        width: 50%; /* Adjusted width for small screens */
    }

    td:nth-child(5) button {
        width: 2em;
        height: 2em;
        font-size: 20px; /* Adjusted font size for small buttons */
    }
}